@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
button:hover {
	cursor: pointer;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 14px;
	background-color: #f2f2f2;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
main {
	display: flex;
	background: #f2f2f2;
	justify-content: space-between;
	top: 0;
	left: -130px;
}

.header {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
	z-index: 999;
}
.header_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px 0 18px 0;
}
.header_check {
	position: relative;
}
.menu_list {
	display: flex;
	list-style-type: none;
}
.first_ch .menu_link {
	text-decoration: underline;
	font-weight: 900;
	cursor: default;
}
.svg-dots {
	width: 18px;
	height: 30px;
}
.menu_link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: #333333;
	padding: 0px 42px;
}
.menu_link:hover {
	text-decoration: underline;
}
.menu_link:active {
	font-weight: 900;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.container_big {
	max-width: 1620px;
	margin: 0 auto;
	position: relative;
}
@media (max-width: 1900px) {
	main {
		left: 0px;
	}
}
@media (max-width: 1200px) {
	.container_big {
		max-width: 900px;
	}
	.container {
		max-width: 900px;
	}
	main {
		left: -90px;
	}
	.svg-dots {
		width: 13px;
		height: 23px;
	}
}
@media (max-width: 1190px) {
	main {
		left: 0px;
	}
}
@media (max-width: 800px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 35px;
		right: 0px;
		width: 40px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		top: 8px;
		left: 0;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #333333;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		content: '';
		background-color: #333333;
		position: absolute;
		height: 3px;
		width: 100%;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.icon-menu::after {
		content: '';
		background-color: #333333;
		position: absolute;
		height: 3px;
		width: 95%;
		right: 0;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu.active::before {
		transform: rotate(45deg);
		top: 8px;
		background-color: white;
	}
	.icon-menu.active::after {
		transform: rotate(-45deg);
		bottom: 8px;
		background-color: white;
		width: 100%;
	}
	.icon-menu.active span {
		transform: scale(0);
		background-color: white;
	}
	body.lock {
		overflow: hidden;
	}
	.menu_body {
		z-index: 4;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #4d4959;
		padding: 50px 0px 0px 0px;
		transform: translate(0px, -100%);
		transition: all 0.3s ease 0s;
	}
	.menu_body.active {
		transform: translate(0px);
	}
	.menu_list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu_link {
		color: white;
		font-size: 20px;
	}

	.menu_list li {
		padding: 0px 0px 45px 0px;
	}
	.header_check {
		right: 12%;
	}
}
@media (max-width: 640px) {
	.container_big {
		max-width: 600px;
	}
	.container {
		max-width: 600px;
	}
	.header {
		z-index: 10;
		width: 100%;
		position: fixed;
	}
	main {
		left: 0px;
	}
	.icon-menu {
		display: block;
		position: absolute;
		top: 35px;
		right: 0px;
		width: 40px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		top: 8px;
		left: 0;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #333333;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		content: '';
		background-color: #333333;
		position: absolute;
		height: 3px;
		width: 100%;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.icon-menu::after {
		content: '';
		background-color: #333333;
		position: absolute;
		height: 3px;
		width: 95%;
		right: 0;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu.active::before {
		transform: rotate(45deg);
		top: 8px;
		background-color: white;
	}
	.icon-menu.active::after {
		transform: rotate(-45deg);
		bottom: 8px;
		background-color: white;
		width: 100%;
	}
	.icon-menu.active span {
		transform: scale(0);
		background-color: white;
	}
	body.lock {
		overflow: hidden;
	}
	.menu_body {
		z-index: 4;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #4d4959;
		padding: 50px 0px 0px 0px;
		transform: translate(0px, -100%);
		transition: all 0.3s ease 0s;
	}
	.menu_body.active {
		transform: translate(0px);
	}
	.menu_list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu_link {
		color: white;
		font-size: 20px;
	}

	.menu_list li {
		padding: 0px 0px 45px 0px;
	}
	.header_check {
		right: 12%;
	}
}

@media (max-width: 320px) {
	.container_big {
		max-width: 300px;
	}
	.container {
		max-width: 300px;
	}
	.header_check {
		right: 20%;
	}
}

.how_it_works {
	background-color: #f2f2f2;
	display: flex;
}
.how_it_works_block {
	width: 100%;
	justify-content: space-between;
	display: flex;
	flex-direction: row-reverse;
}
.how_it_works_slider_video {
	padding: 30px 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.how_it_works_slider {
	position: relative;
	width: 65%;
}
.how_it_works_slider_video img {
	width: 246px;
	object-fit: cover;
	border-radius: 5px;
}
.how_it_works_title {
	width: 31%;
}
.how_it_works_text h3 {
	padding-bottom: 6px;
	font-weight: 900;
	font-size: 20px;
}
.how_it_works_text p {
	padding-bottom: 13px;
}
.title__zoo {
	font-weight: 900;
	font-size: 48px;
	padding: 60px 0 40px 0;
}
@media (max-width: 1200px) {
	.how_it_works_block {
		width: 107%;
	}
	.how_it_works_title {
		width: 33%;
	}
	.how_it_works_btn {
		margin-top: 0px;
	}

	.how_it_works_slider_video {
		padding: 20px 0 30px;
	}
}
@media (max-width: 1190px) {
	.how_it_works_block {
		width: 100%;
	}
}
@media (max-width: 800px) {
	.how_it_works {
		position: relative;
		left: -15px;
	}
	.how_it_works_slider_video {
		padding: 0px 0 25px;
	}
	.how_it_works_block {
		flex-direction: column-reverse;
	}
}
@media (max-width: 640px) {
	.how_it_works {
		position: relative;
		left: -15px;
	}
	.how_it_works_slider_video {
		padding: 5px 0 25px;
	}
	.how_it_works_block {
		flex-direction: column-reverse;
	}
	.how_it_works_slider {
		width: 103%;
	}
	.how_it_works_text {
		padding: 38px 0 0 0;
		margin-left: -5px;
	}
	.how_it_works_title {
		width: 100%;
		margin-top: -40px;
	}
	.how_it_works {
		padding-top: 94px;
	}
}
@media (max-width: 400px) {
	.how_it_works_text h3 {
		font-size: 16px;
	}
	.how_it_works_text p {
		font-size: 12px;
	}
	.how_it_works_block {
		margin-left: -5px;
		flex-direction: column-reverse;
	}
	.how_it_works_slider {
		width: 100%;
	}
	.how_it_works_slider_video {
		padding: 0;
		width: 106%;
	}
	.how_it_works_title {
		width: 100%;
		margin-top: -20px;
	}
	.title__zoo {
		font-weight: 900;
		font-size: 24px;
		padding: 30px 0;
	}
}
@media (max-width: 320px) {
	.how_it_works {
		margin: 0 0 0 5px;
		padding-top: 94px;
	}
	.how_it_works_text h3 {
		font-size: 14px;
	}
	.how_it_works_text p {
		font-size: 12px;
	}
	.how_it_works_block {
		margin-left: -5px;
		flex-direction: column-reverse;
	}
	.how_it_works_slider {
		width: 110%;
	}
	.how_it_works_slider_video {
		padding: 5px 0 0 0;
		width: 106%;
	}
	.how_it_works_title {
		width: 100%;
		margin-top: -20px;
	}
	.title__zoo {
		font-weight: 900;
		font-size: 24px;
		padding: 35px 0 20px;
	}
	.how_it_works_text {
		padding: 5px 0 0 0;
		margin-left: 0px;
	}
}
.iframe-big {
	width: 100%;
	height: 442px;
}
.iframe {
	width: 31%;
	height: 141px;
}
.iframe-stop {
	width: 100%;
	height: 442px;
	background-color: #4bd8b5;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

@media (max-width: 1200px) {
	.iframe-big {
		height: 297px;
	}
	.iframe {
		height: 94px;
	}
	.iframe-stop {
		height: 297px;
	}
}
@media (max-width: 640px) {
	.iframe-big {
		height: 280px;
	}
	.iframe-stop {
		height: 116px;
	}
}
@media (max-width: 400px) {
	.iframe-big {
		height: 116px;
	}
	.iframe {
		height: 57px;
		width: 44%;
	}
	.iframe-stop {
		height: 116px;
	}
	.iframe-last {
		width: 0px;
	}
}
@media (max-width: 320px) {
	.iframe-big {
		height: 116px;
	}
	.iframe {
		height: 57px;
		width: 44%;
	}
	.iframe-stop {
		height: 116px;
	}
	.iframe-last {
		width: 0px;
	}
}

.favorite_animal {
	background: url(../../../assets/Landing/images/site_thema.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.favorite_animal_block {
	width: 60%;
	margin: 202px 210px;
}
.favorite_animal_title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 89px;
	color: #fefefe;
}
.favorite_animal_title_one {
	position: absolute;
	clip: rect(0 0 0 0);
	opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
}
.favorite_animal_slider {
	width: 62.5%;
	position: absolute;
	bottom: 240px;
	right: -220px;
}
.favorite_animal_slider img {
	width: 140px;
	height: 203px;
	object-fit: 100% auto;
	border-radius: 5px;
}
.slider_item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 128px;
	height: 128px;
	border: 10px solid #f2f2f2;
}

.slider_border {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 131px;
	height: 131px;
	background: transparent;
}
.slider_border:hover {
	transition: 1s ease;
	transform: scale(1.25);
	background: linear-gradient(to right, #07eee0, #df496d);
}
.slider_item_favorite {
	width: 140px;
	position: relative;
}
.slider_item_favorite > .slider__effect > .slider_paragr {
	opacity: 0;
	color: transparent;
}
.slider_item_favorite:hover .slider_btn_block {
	opacity: 1;
	transition: 1s;
}
.slider_item_favorite:hover .slider_paragr {
	opacity: 1;
	transition: 1s;
}

.slider_btn_block {
	opacity: 0;
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 18px;
}
.input-range {
	width: 245px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	overflow: hidden;
	background-color: #f2f2f2;
	height: 10px;
}

.input-range::-webkit-slider-runnable-track {
	height: 5px;
	background: rgba(189, 189, 189);
}

.input-range::-webkit-slider-thumb {
	background: #333333;
	cursor: pointer;
	width: 62px;
	margin-top: -3px;
	height: 10px;
	-webkit-appearance: none;
}

.input-range::-moz-range-track {
	height: 5px;
	background: rgba(189, 189, 189);
}

.input-range::-moz-range-thumb {
	background: #333333;
	cursor: pointer;
	width: 62px;
	height: 10px;
	-webkit-appearance: none;
}
.testimonials__input .input-range::-moz-range-thumb {
	width: 30px;
}
.testimonials__input .input-range::-webkit-slider-thumb {
	width: 30px;
}
.btn {
	width: 195px;
	height: 55px;
	background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-top: 35px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
.big {
	transform: scale(1.25);
	background: linear-gradient(to right, #07eee0, #df496d);
}
@media (max-width: 1200px) {
	.btn {
		width: 185px;
		height: 53px;
	}
	.how_it_works_btn {
		margin-top: 0px;
	}
	.big {
		transform: scale(1.1);
		background: linear-gradient(to right, #07eee0, #df496d);
	}
	.slider_border:hover {
		transition: 1s ease;
		transform: scale(1.1);
		background: linear-gradient(to right, #07eee0, #df496d);
	}
}
@media (max-width: 640px) {
	.big {
		transform: scale(1.25);
		margin: 0 0 15px;
		background: linear-gradient(to right, #07eee0, #df496d);
	}
	.btn {
		margin-bottom: 74px;
		margin-top: 20px;
	}
}
@media (max-width: 320px) {
	.btn {
		margin-bottom: 58px;
		margin-top: -3px;
	}
}

.slider_button {
	background: transparent;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	display: flex;
	height: 14px;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
.slider_button:hover .button_play {
	border: 1px solid #49d6df;
}
.slider_button:hover svg path {
	fill: #49d6df;
}
.slider_button:hover .text-button {
	color: #49d6df;
}
.button_play {
	width: 32px;
	height: 32px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.button_play_text {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: -3px;
}
.text-button {
	font-size: 8px;
	color: #ffffff;
}
.svg_button {
	width: 14px;
	height: 14px;
}
.slider_paragr {
	opacity: 0;
	position: absolute;
	bottom: 40px;
	font-family: Roboto;
	padding: 5px 10px;
	font-size: 8px;
	color: #ffffff;
}
.favorite_animal_sotial {
	padding-bottom: 105px;
}
.favorite_animal_sotial_links li {
	display: block;
	padding-top: 12px;
}
.favorite_animal_input {
	display: flex;
	flex-direction: column;
}
.input-favorite {
	position: absolute;
	bottom: 15%;
	right: 22%;
}
.input-favorite .input-range {
	background-color: transparent;
}
.input-favorite .input-range::-webkit-slider-thumb {
	background: #fefefe;
}
.input-favorite .input-range::-moz-range-thumb {
	background: #fefefe;
}
.input-favorite .label-title {
	color: #fefefe;
	margin-bottom: 15px;
}
.input-favorite .label-title span {
	color: #fefefe;
}
.favorite__line {
	position: absolute;
	top: 52%;
	left: 42%;
}
.sotial {
	padding-top: 15px;
	width: 20px;
	height: 20px;
	display: block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.instagram {
	background-image: url(../../../../assets/Landing/icons/instagram.svg);
}
.twitter {
	background-image: url(../../../../assets/Landing/icons/111.svg);
}
.youtube {
	background-image: url(../../../../assets/Landing/icons/222.svg);
}
.vk {
	background-image: url(../../../../assets/Landing/icons/333.svg);
}

.how_it_works_input {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots {
	width: 8px;
	height: 8px;
	background-color: #c4c4c4;
	margin: 0 15px 100px 0;
	border-radius: 50%;
}
.one-dots {
	background-color: #49d6df;
	transform: scale(1.3);
}
.dots:hover {
	background-color: #49d6df;
	transform: scale(1.3);
}

.label-title span {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
}

/* блок слайдер */
.favorite {
	background: transparent;
	position: sticky;
	top: 0px;
	left: 0px;
	width: 160px;
	height: 690px;
	padding-right: 270px;
}

.favorite_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0;
}
.favorite_block_title {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	color: #333333;
}
.favorite_block_text {
	width: 66%;
	padding: 20px 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
}
.favorite_block_slider {
	width: 100%;
	padding-top: 35px;
	position: relative;
}
.slider_body {
	width: 90%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
}
.slider_dots {
	background: transparent;
}
.slider_next {
	position: absolute;
	top: 110%;
	left: 70px;
	transform: translate(-50%, -50%) rotate(90deg);
}
.slider_prev {
	position: absolute;
	top: -2%;
	left: 70px;
	transform: translate(-50%, -50%) rotate(90deg);
}
.favorite_block_button {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	font-weight: 700;
}
.slider_img_img {
	position: relative;
	object-fit: contain;
	width: 108px;
	height: 108px;
	border-radius: 50%;
}
.slider_img_img img {
	border-radius: 50%;
}

.slider__effect > .slider_paragr {
	opacity: 0;
	padding: 5px 20px;
	font-size: 14px;
	bottom: -50px;
}
.slider__effect > .slider_btn_block {
	opacity: 0;
	font-size: 14px;
	padding: 0 20px;
	bottom: -20px;
}
.slider__effect p {
	font-size: 12px;
}

.slider_dots:hover svg path,
.slider_prev:hover svg path {
	transition: 0.5s ease-in-out;
	fill: #49d6df;
}

.slider_title {
	font-family: Roboto;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #333333;
	padding: 17px 0;
}
.slider_text {
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
	padding: 0 73px;
}

@media (max-width: 1200px) {
	.favorite {
		padding-right: 10px;
	}
	.favorite_block_slider {
		top: 15px;
		left: -48px;
	}
	.slider_img_img {
		width: 100px;
		height: 100px;
	}
	.slider_img_img img {
		width: 100px;
		height: 100px;
	}
	.slider_item {
		width: 108px;
		height: 108px;
	}
	.slider_border {
		width: 111px;
		height: 111px;
	}
	.slider_next {
		left: 45%;

		top: 104%;
	}
	.slider_prev {
		left: 45%;
		top: -1%;
	}
	.dots {
		margin: 0 6px 100px 0px;
	}
}
@media (max-width: 1190px) {
	.favorite_block_slider {
		top: 25px;
		left: -10px;
	}
}
@media (max-width: 640px) {
	.favorite_block_slider {
		top: 83px;
		left: -10px;
	}
	.dots {
		margin: 0 5px 50px 0;
	}
	.favorite {
		padding-right: 10px;
		height: 480px;
	}
	.slider_img_img {
		width: 65px;
		height: 65px;
	}
	.slider_img_img img {
		width: 65px;
		height: 65px;
	}
	.slider_item {
		width: 72px;
		height: 72px;
	}
	.slider_border {
		width: 75px;
		height: 75px;
	}
	.slider_next {
		left: 38%;
		top: 110%;
	}
	.slider_prev {
		left: 38%;
	}
	.favorite_block_slider {
		padding-top: 70px;
	}
	.slider_prev {
		top: 4%;
	}
}
@media (max-width: 320px) {
	.big {
		transform: scale(1.4);
	}
	.dots {
		margin: 18px 5px 50px 0;
	}
	.favorite {
		padding-right: 10px;
	}
	.favorite_block_slider {
		top: 60px;
		left: 5px;
	}
	.favorite_block_slider {
		padding-top: 50px;
	}
	.slider_img_img {
		width: 35px;
		height: 35px;
	}
	.slider_img_img img {
		width: 35px;
		height: 35px;
	}
	.slider_item {
		width: 42px;
		height: 42px;
	}
	.slider_border {
		width: 45px;
		height: 45px;
	}
	.slider_next {
		left: 28%;
	}

	.slider_prev {
		left: 28%;
	}
	.button_play_text {
		font-size: 18px;
	}
}

/* футер */
.footer {
	background-color: #333333;
}
.footer__form_block {
	padding-top: 13px;
}
.footer__logo {
	padding: 60px 0;
}
.footer__block {
	display: flex;
	flex-direction: column;
}
.footer__header {
	padding: 42px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer_btn {
	width: 275px;
	margin-top: -5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.link_footer {
	color: #fefefe;
	padding: 0 72px 0 0;
}
.block-two_header {
	padding-top: 60px;
	margin-left: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__form_label {
	border-bottom: 1px solid #bdbdbd;
	padding: 20px 0 10px 0;
}
.footer__label {
	background: transparent;
	width: 100%;
}
.che {
	display: none;
}
.label__che {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #bdbdbd;
	vertical-align: middle;
}
.che:checked + .label__che:before {
	content: 'x';
}
.label__che:before {
	content: ' ';
	color: #fff;
	display: inline-block;
	font: 5px;
	margin-right: 5px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	width: 13px;
	height: 13px;
	background: #333333;
	border: 1px solid #e3e3e3;
	border-image: initial;
	vertical-align: middle;
}
.footer__form_legend {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	color: #fefefe;
}
.footer__label_btn {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fefefe;
}
.label_btn-title {
	padding-right: 20px;
}
.footer__form_label-btn {
	width: 30%;
	margin: 25px 0 0 auto;
}
.footer__form {
	display: flex;
	flex-direction: column;
	color: #e0e0e0;
}

.block-two {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	width: 50%;
	flex: 0 1 auto;
}
.footer__form_textarea {
	display: flex;
	flex-direction: column;
	border: 1px solid #bdbdbd;
	position: relative;
	margin: 27px 0;
}
.textarea-title {
	padding: 0 5px;
	background-color: #333333;
	position: absolute;
	top: -10px;
	left: 5px;
}
.first_ch_footer {
	padding-left: 0px;
}
.last_ch_footer {
	padding-right: 0px;
}
.footer__sotial {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}
.footer_sotial_links {
	display: flex;
	list-style: none;
}
.sotial-title {
	padding: 60px 0 35px 0;
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #fefefe;
}
.sotial-adres,
.sotial-email {
	padding-bottom: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fefefe;
}
.sotial-adres__adres,
.sotial-email__email {
	padding-bottom: 5px;
}
.sotial-email a {
	text-decoration: none;
	color: #fefefe;
}
.sotial-links li {
	padding-right: 15px;
}
.rsscool {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #bdbdbd;
	padding: 40px 0 70px 0;
}
.rsscool__p {
	padding-bottom: 5px;
}
.hr {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
}
@media (max-width: 1200px) {
	.footer__header {
		padding: 42px 0 60px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.footer__form_label {
		border-bottom: 1px solid #bdbdbd;
		padding: 15px 0 0px 0;
	}
	.footer__sotial {
		margin-left: 10px;
	}
	.footer_btn {
		position: absolute;
		bottom: 37%;
		left: 51%;
	}
	.block-two_header {
		padding-top: 80px;
	}
	.footer__logo {
		padding: 60px 0 65px;
	}
	.rsscool {
		padding: 25px 0 70px 0;
	}
}
@media (max-width: 840px) {
	.footer__nav_menu {
		display: inline;
		flex-direction: column;
		position: absolute;
		top: 175px;
		left: 0;
	}
	.footer__form {
		margin-top: 77px;
	}
	.footer__nav_menu li {
		padding: 0px 0px 5px 0px;
	}
	.link_footer {
		font-size: 16px;
	}
	.footer__header {
		flex-direction: column;
	}
	.footer_btn {
		position: absolute;
		top: 9%;
		right: 0%;
	}
	.sotial-title {
		padding: 0px 0 35px 0;
	}
	.footer__sotial {
		margin-left: 0px;
		margin-top: -5px;
	}
	.rsscool {
		padding: 30px 0 70px 0;
	}
}
@media (max-width: 640px) {
	.footer__logo {
		padding: 55px 0 65px;
	}
	.footer__nav_menu {
		display: inline;
		flex-direction: column;
		position: absolute;
		top: 170px;
		left: 0;
	}
	.footer__form {
		margin-top: 77px;
	}
	.footer__nav_menu li {
		padding: 0px 0px 5px 0px;
	}
	.link_footer {
		font-size: 16px;
	}
	.footer__header {
		flex-direction: column;
	}
	.footer_btn {
		position: absolute;
		top: 9%;
		left: 55%;
	}
	.sotial-title {
		padding: 0px 0 35px 0;
	}
	.footer__sotial {
		margin-left: -10px;
		margin-top: -15px;
	}
	.rsscool {
		padding: 35px 0 70px 0;
	}
}
@media (max-width: 320px) {
	.footer__sotial {
		margin-left: -10px;
		margin-top: 40px;
		width: 150%;
	}
	.footer__form_label-btn {
		width: 35%;
		margin: 25px 0 0 auto;
	}
	.footer__nav_menu {
		top: 135px;
	}
	.block-two {
		flex-direction: column-reverse;
	}
	.footer__form {
		margin-top: 150px;
	}
	.footer__header {
		flex-direction: column;

		padding: 45px 0 98px 0px;
	}
	.footer_btn {
		top: 76.5%;
		left: 5%;
	}
	.footer_btn {
		top: 76.5%;
		left: 5%;
	}
	.footer__logo {
		padding: 5px 0;
	}
	.footer__label {
		width: 100%;
	}
}
