@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
button:hover {
	cursor: pointer;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	overflow-y: scroll;
}
body {
	font-family: 'Roboto', Arial, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 14px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.header {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.header_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px 0 18px 0;
}
.header_check {
	position: relative;
}
.menu_list {
	display: flex;
	list-style-type: none;
}
.first_ch .menu_link {
	text-decoration: underline;
	font-weight: 900;
	cursor: default;
}
.menu_link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: #333333;
	padding: 0px 42px;
}
.menu_link:hover {
	text-decoration: underline;
}
.menu_link:active {
	font-weight: 900;
}
.container_big {
	max-width: 1620px;
	margin: 0 auto;
	position: relative;
}
.favorite_animal {
	background: url(../../../assets/Landing/images/site_thema.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.favorite_animal_block {
	width: 60%;
	margin: 202px 210px;
}
.favorite_animal_title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 89px;
	color: #fefefe;
}
.favorite_animal_title_one {
	position: absolute;
	clip: rect(0 0 0 0);
	opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
}
.favorite_animal_slider {
	width: 62.5%;
	position: absolute;
	bottom: 240px;
	right: -220px;
}
.favorite_animal_slider img {
	width: 140px;
	height: 203px;
	object-fit: 100% auto;
	border-radius: 5px;
}
.slider_item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 128px;
	height: 128px;
	border: 10px solid #f2f2f2;
}
/* .slider_item:hover {
	transform: scale(1.25);
} */
/* .slider_border {
	transform: scale(1.25);
} */
.slider_border {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 131px;
	height: 131px;
	background: transparent;
}
.slider_border:hover {
	transition: 1s ease;
	transform: scale(1.25);
	background: linear-gradient(#07eee0, #df496d);
}
.slider_item_favorite {
	width: 140px;
	position: relative;
}
.slider_item_favorite > .slider__effect > .slider_paragr {
	opacity: 0;
	color: transparent;
}
.slider_item_favorite:hover .slider_btn_block {
	opacity: 1;
	transition: 1s;
}
.slider_item_favorite:hover .slider_paragr {
	opacity: 1;
	transition: 1s;
}

.slider_btn_block {
	opacity: 0;
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 18px;
}
.input-range {
	width: 245px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	overflow: hidden;
	background-color: #f2f2f2;
	height: 10px;
}

.input-range::-webkit-slider-runnable-track {
	height: 5px;
	background: rgba(189, 189, 189);
}

.input-range::-webkit-slider-thumb {
	background: #333333;
	cursor: pointer;
	width: 62px;
	margin-top: -3px;
	height: 10px;
	-webkit-appearance: none;
}

.input-range::-moz-range-track {
	height: 5px;
	background: rgba(189, 189, 189);
}

.input-range::-moz-range-thumb {
	background: #333333;
	cursor: pointer;
	width: 62px;
	height: 10px;
	-webkit-appearance: none;
}
.testimonials__input .input-range::-moz-range-thumb {
	width: 30px;
}
.testimonials__input .input-range::-webkit-slider-thumb {
	width: 30px;
}
.btn {
	width: 245px;
	height: 55px;
	background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-top: 35px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
.slider_button {
	background: transparent;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	display: flex;
	height: 14px;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
.slider_button:hover .button_play {
	border: 1px solid #49d6df;
}
.slider_button:hover svg path {
	fill: #49d6df;
}
.slider_button:hover .text-button {
	color: #49d6df;
}
.button_play {
	width: 32px;
	height: 32px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.button_play_text {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: -3px;
}
.text-button {
	font-size: 8px;
	color: #ffffff;
}
.svg_button {
	width: 14px;
	height: 14px;
}
.slider_paragr {
	opacity: 0;
	position: absolute;
	bottom: 40px;
	font-family: Roboto;
	padding: 5px 10px;
	font-size: 8px;
	color: #ffffff;
}
.favorite_animal_sotial {
	padding-bottom: 105px;
}
.favorite_animal_sotial_links li {
	display: block;
	padding-top: 12px;
}
.favorite_animal_input {
	display: flex;
	flex-direction: column;
}
.input-favorite {
	position: absolute;
	bottom: 15%;
	right: 22%;
}
.input-favorite .input-range {
	background-color: transparent;
}
.input-favorite .input-range::-webkit-slider-thumb {
	background: #fefefe;
}
.input-favorite .input-range::-moz-range-thumb {
	background: #fefefe;
}
.input-favorite .label-title {
	color: #fefefe;
	margin-bottom: 15px;
}
.input-favorite .label-title span {
	color: #fefefe;
}
.favorite__line {
	position: absolute;
	top: 52%;
	left: 42%;
}
.sotial {
	padding-top: 15px;
	width: 20px;
	height: 20px;
	display: block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.instagram {
	background-image: url(../../../assets/Landing/icons/instagram.svg);
}
.twitter {
	background-image: url(../../../assets/Landing/icons/111.svg);
}
.youtube {
	background-image: url(../../../assets/Landing/icons/222.svg);
}
.vk {
	background-image: url(../../../assets/Landing/icons/333.svg);
}

.how_it_works_input {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

.label-title span {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
}

/* блок слайдер */
.favorite {
	background: #f2f2f2;
}
.favorite_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0;
	position: relative;
}
.favorite_block_title {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	color: #333333;
}
.favorite_block_text {
	width: 66%;
	padding: 20px 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
}
.favorite_block_slider {
	width: 100%;
	padding-top: 35px;
}
.slider_body {
	width: 90%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.slider_dots {
	background: transparent;
}
.slider_next {
	position: absolute;
	top: 64%;
	right: -25px;
	transform: translate(-50%, -50%);
}
.slider_prev {
	position: absolute;
	top: 64%;
	left: -10px;
	transform: translate(-50%, -50%);
}
.favorite_block_button {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	font-weight: 700;
}
.slider_img_img {
	position: relative;
	object-fit: contain;
	width: 108px;
	height: 108px;
	border-radius: 50%;
}
.slider_img_img img {
	border-radius: 50%;
}

.slider__effect > .slider_paragr {
	opacity: 0;
	padding: 5px 20px;
	font-size: 14px;
	bottom: -50px;
}
.slider__effect > .slider_btn_block {
	opacity: 0;
	font-size: 14px;
	padding: 0 20px;
	bottom: -20px;
}
.slider__effect p {
	font-size: 12px;
}

.slider_dots:hover svg path,
.slider_prev:hover svg path {
	transition: 0.5s ease-in-out;
	fill: #49d6df;
}

.slider_title {
	font-family: Roboto;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #333333;
	padding: 17px 0;
}
.slider_text {
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
	padding: 0 73px;
}
/* карта */

.map {
	background: #f2f2f2;
	padding-top: 3px;
}
.map__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
}
.map_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #333333;
}
.map__map {
	padding-top: 60px;
	position: relative;
}
.map__animals_one {
	position: absolute;
	top: 23%;
	left: 10%;
	cursor: pointer;
}
.map-images {
	position: absolute;
	top: 35%;
	left: 48%;
	transform: translate(-50%, -50%);
}
.map__animals_two {
	position: absolute;
	top: 28%;
	left: 20.5%;
	cursor: pointer;
}
.map__animals_three {
	position: absolute;
	top: 43.5%;
	left: 47.5%;
	cursor: pointer;
}
.map__animals_four {
	position: absolute;
	top: 26%;
	right: 20%;
	cursor: pointer;
}
.map_animal_btn {
	margin-top: 30px;
}

.map__animals_one:hover svg path,
.map__animals_two:hover svg path,
.map__animals_three:hover svg path,
.map__animals_four:hover svg path {
	fill: #eb5757;
}
/* футер */
.footer {
	background-color: #333333;
}
.footer__form_block {
	padding-top: 13px;
}
.footer__logo {
	padding: 60px 0;
}
.footer__block {
	display: flex;
	flex-direction: column;
}
.footer__header {
	padding: 42px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer_btn {
	width: 275px;
	margin-top: -5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.link_footer {
	color: #fefefe;
	padding: 0 72px 0 0;
}
.block-two_header {
	padding-top: 60px;
	margin-left: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__form_label {
	border-bottom: 1px solid #bdbdbd;
	padding: 20px 0 10px 0;
}
.footer__label {
	background: transparent;
}
.che {
	display: none;
}
.label__che {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #bdbdbd;
	vertical-align: middle;
}
.che:checked + .label__che:before {
	content: 'x';
}
.label__che:before {
	content: ' ';
	color: #fff;
	display: inline-block;
	font: 5px;
	margin-right: 5px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	width: 13px;
	height: 13px;
	background: #333333;
	border: 1px solid #e3e3e3;
	border-image: initial;
	vertical-align: middle;
}
.footer__form_legend {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	color: #fefefe;
}
.footer__label_btn {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fefefe;
}
.label_btn-title {
	padding-right: 20px;
}
.footer__form_label-btn {
	width: 30%;
	margin: 25px 0 0 auto;
}
.footer__form {
	display: flex;
	flex-direction: column;
	color: #e0e0e0;
}

.block-two {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	width: 50%;
	flex: 0 1 auto;
}
.footer__form_textarea {
	display: flex;
	flex-direction: column;
	border: 1px solid #bdbdbd;
	position: relative;
	margin: 27px 0;
}
.textarea-title {
	padding: 0 5px;
	background-color: #333333;
	position: absolute;
	top: -10px;
	left: 5px;
}
.first_ch_footer {
	padding-left: 0px;
}
.last_ch_footer {
	padding-right: 0px;
}
.footer__sotial {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}
.footer_sotial_links {
	display: flex;
	list-style: none;
}
.sotial-title {
	padding: 60px 0 35px 0;
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #fefefe;
}
.sotial-adres,
.sotial-email {
	padding-bottom: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fefefe;
}
.sotial-adres__adres,
.sotial-email__email {
	padding-bottom: 5px;
}
.sotial-email a {
	text-decoration: none;
	color: #fefefe;
}
.sotial-links li {
	padding-right: 15px;
}
.rsscool {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #bdbdbd;
	padding: 40px 0 70px 0;
}
.rsscool__p {
	padding-bottom: 5px;
}
.hr {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
}
