@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
button:hover {
	cursor: pointer;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	overflow-y: scroll;
}
body {
	font-family: 'Roboto', Arial, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 14px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.header {
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.header_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px 0 18px 0;
}
.header_check {
	position: relative;
}
.menu_list {
	display: flex;
	list-style-type: none;
}
.first_ch .menu_link {
	text-decoration: underline;
	font-weight: 900;
	cursor: default;
}
.menu_link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: #333333;
	padding: 0px 42px;
}
.icon-menu {
	display: none;
}
.menu_link:hover {
	text-decoration: underline;
}
.menu_link:active {
	font-weight: 900;
}
.container_big {
	max-width: 1620px;
	margin: 0 auto;
	position: relative;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
@media (max-width: 1200px) {
	.container_big {
		max-width: 900px;
	}
	.container {
		max-width: 900px;
	}
}
@media (max-width: 640px) {
	.container_big {
		max-width: 600px;
	}
	.container {
		max-width: 600px;
	}
	.header {
		z-index: 10;
		width: 100%;
		position: fixed;
	}
	.icon-menu {
		display: block;
		position: absolute;
		top: 35px;
		right: 0px;
		width: 40px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		top: 8px;
		left: 0;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #333333;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		content: '';
		background-color: #333333;
		position: absolute;
		height: 3px;
		width: 100%;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.icon-menu::after {
		content: '';
		background-color: #333333;
		position: absolute;
		height: 3px;
		width: 95%;
		right: 0;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu.active::before {
		transform: rotate(45deg);
		top: 8px;
		background-color: white;
	}
	.icon-menu.active::after {
		transform: rotate(-45deg);
		bottom: 8px;
		background-color: white;
		width: 100%;
	}
	.icon-menu.active span {
		transform: scale(0);
		background-color: white;
	}
	body.lock {
		overflow: hidden;
	}
	.menu_body {
		z-index: 4;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #4d4959;
		padding: 50px 0px 0px 0px;
		transform: translate(0px, -100%);
		transition: all 0.3s ease 0s;
	}
	.menu_body.active {
		transform: translate(0px);
	}
	.menu_list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu_link {
		color: white;
		font-size: 20px;
	}

	.menu_list li {
		padding: 0px 0px 45px 0px;
	}
	.header_check {
		right: 12%;
	}
}
@media (max-width: 360px) {
	.container_big {
		max-width: 300px;
	}
	.container {
		max-width: 300px;
	}
	.header_check {
		right: 20%;
	}
}

@media (max-width: 320px) {
	.container_big {
		max-width: 300px;
	}
	.container {
		max-width: 300px;
	}
	.header_check {
		right: 20%;
	}
}
.favorite_animal {
	background: url(../../../assets/Landing/images/site_thema.jpeg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 925px;
}
.favorite_animal_block {
	width: 60%;
	margin: 202px 210px;
}
.favorite_animal_title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 89px;
	color: #fefefe;
}
.favorite_animal_title_one {
	position: absolute;
	clip: rect(0 0 0 0);
	opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
}
.favorite_animal_slider {
	width: 62.5%;
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 240px;
	right: -220px;
}

.favorite_animal_slider_img {
	position: relative;
	left: 30%;
	display: flex;
	z-index: 1;
	justify-content: space-between;
}
.favorite_animal_slider img {
	width: 140px;
	height: 203px;
	object-fit: cover;
	border-radius: 5px;
}
.slider_item_favorite {
	padding: 0 4px;
	position: relative;
}
.slider_item_favorite > .slider__effect > .slider_paragr {
	opacity: 0;
	color: transparent;
}
.slider_item_favorite:hover .slider_btn_block {
	opacity: 1;
	transition: 1s;
}
.slider_item_favorite:hover .slider_paragr {
	opacity: 1;
	transition: 1s;
}

.slider_btn_block {
	opacity: 0;
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 18px;
}
.input-range {
	width: 245px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	overflow: hidden;
	background-color: #f2f2f2;
	height: 10px;
}

.input-range::-webkit-slider-runnable-track {
	height: 5px;
	background: rgba(189, 189, 189);
}

.input-range::-webkit-slider-thumb {
	background: #333333;
	cursor: pointer;
	width: 62px;
	margin-top: -3px;
	height: 10px;
	-webkit-appearance: none;
}

.input-range::-moz-range-track {
	height: 5px;
	background: rgba(189, 189, 189);
}

.input-range::-moz-range-thumb {
	background: #333333;
	cursor: pointer;
	width: 62px;
	height: 10px;
	-webkit-appearance: none;
}
.testimonials__input .input-range::-moz-range-thumb {
	width: 30px;
}
.testimonials__input .input-range::-webkit-slider-thumb {
	width: 30px;
}
.btn {
	width: 245px;
	height: 55px;
	background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-top: 35px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
.slider_button {
	background: transparent;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	display: flex;
	height: 14px;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
.slider_button:hover .button_play {
	border: 1px solid #49d6df;
}
.slider_button:hover svg path {
	fill: #49d6df;
}
.slider_button:hover .text-button {
	color: #49d6df;
}
.button_play {
	width: 32px;
	height: 32px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.button_play_text {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: -3px;
}
.text-button {
	font-size: 8px;
	color: #ffffff;
}
.svg_button {
	width: 14px;
	height: 14px;
}
.slider_paragr {
	opacity: 0;
	position: absolute;
	bottom: 40px;
	font-family: Roboto;
	padding: 5px 10px;
	font-size: 8px;
	color: #ffffff;
}
.favorite_animal_sotial {
	padding-bottom: 105px;
	margin-top: -20%;
}
.favorite_animal_sotial_links li {
	display: block;
	padding-top: 12px;
}
.favorite_animal_input {
	display: flex;
	flex-direction: column;
}
.input-favorite {
	position: absolute;
	bottom: -70%;
	right: 27%;
}
.input-favorite .input-range {
	background-color: transparent;
}
.input-favorite .input-range::-webkit-slider-thumb {
	background: #fefefe;
}
.input-favorite .input-range::-moz-range-thumb {
	background: #fefefe;
}
.input-favorite .label-title {
	color: #fefefe;
	margin-bottom: 15px;
}
.input-favorite .label-title span {
	color: #fefefe;
}
.favorite__line {
	position: absolute;
	top: 52%;
	left: 10%;
}
.slider_item_favorite_big {
	transform: scale(1.7);
	margin: 0 46px;
}
.sotial {
	padding-top: 15px;
	width: 20px;
	height: 20px;
	display: block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.instagram {
	background-image: url(../../../assets/Landing/icons/instagram.svg);
}
.twitter {
	background-image: url(../../../assets/Landing/icons/111.svg);
}
.youtube {
	background-image: url(../../../assets/Landing/icons/222.svg);
}
.vk {
	background-image: url(../../../assets/Landing/icons/333.svg);
}

@media (max-width: 1200px) {
	.favorite_animal_block {
		width: 88%;
		margin: 121px 0px;
	}
	.favorite_animal_slider {
		width: 70.5%;
		bottom: 70px;
		right: -218px;
	}
	.favorite_animal_slider_img {
		position: relative;
		left: 18%;
	}

	.favorite_animal_slider > .slider_item {
	}
	.input-favorite {
		bottom: -45%;
		right: 10%;
	}

	.favorite__line {
		left: -4%;
	}
	.favorite_animal_sotial {
		margin-top: -8%;
	}
	.favorite_animal_slider img {
		width: 180px;
		height: 260px;
		object-fit: cover;
		border-radius: 5px;
	}
	.slider_item_favorite_big {
		transform: scale(1.3);
	}
}
@media (max-width: 900px) {
	.favorite_animal_sotial {
		padding-bottom: 190px;
	}
	.input-favorite {
		right: -5%;
		bottom: 10%;
	}
	.favorite_animal_title {
		font-size: 64px;
	}
}
@media (max-width: 640px) {
	.favorite_animal {
		margin-top: 94px;
	}
	.favorite_animal_block {
		width: 100%;
		margin: 115px 0px;
	}
	.favorite_animal_title {
		font-size: 64px;
	}
	.favorite_animal_slider {
		top: 49%;
		right: 15%;
	}
	.favorite__line {
		left: 6%;
		top: 70%;
	}
	.favorite_animal_slider > .slider_item {
		margin: 0 40px;
	}
	.input-favorite {
		bottom: -30px;
		left: 250px;
	}
	.favorite_animal_sotial {
		padding-bottom: 0px;
	}
	.slider_item_favorite {
		width: 140px;
		position: relative;
	}
}
@media (max-width: 420px) {
	.favorite_animal {
		height: 670px;
	}
	.favorite_animal_btn {
		margin: 15px 0 45px;
	}
	.favorite_animal_block {
		width: 100%;
		margin: 90px 0px;
	}
	.favorite_animal_title {
		font-size: 48px;
	}

	.favorite_animal_sotial {
		display: none;
	}
	.favorite_animal_slider {
		top: 85%;
		left: 0px;
	}
	.favorite_animal_slider img {
		width: 113px;
		height: 164px;
	}
	.favorite_animal_slider > .slider_item {
		height: 150px;
		margin: 0 10px;
	}
	.slider_item_favorite_big {
		transform: scale(1.3);
		margin: 0 50px;
	}
	.favorite__line {
		left: 0;
		top: 110%;
	}
	.input-favorite {
		bottom: -200px;
		left: 70px;
	}
	.input-favorite > .input-range {
		width: 140px;
	}
}
@media (max-width: 320px) {
	.favorite_animal {
		height: 670px;
	}
	.favorite_animal_btn {
		margin: 15px 0 45px;
	}
	.favorite_animal_block {
		width: 100%;
		margin: 90px 0px;
	}
	.favorite_animal_title {
		font-size: 48px;
	}

	.favorite_animal_sotial {
		display: none;
	}
	.favorite_animal_slider {
		top: 85%;
		left: 0px;
	}
	.favorite_animal_slider img {
		width: 113px;
		height: 164px;
	}
	.favorite_animal_slider > .slider_item {
		height: 150px;
		margin: 0 10px;
	}
	.slider_item_favorite_big {
		transform: scale(1.3);
		margin: 0 50px;
	}
	.favorite__line {
		left: 0;
		top: 110%;
	}
	.input-favorite {
		bottom: -200px;
		left: 70px;
	}
	.input-favorite > .input-range {
		width: 140px;
	}
}

/* блок слайдера  */
.how_it_works {
	display: flex;
	justify-content: center;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
}
.how_it_works_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 66%;
	padding: 100px 0px;
}
.how_it_works_title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	color: #333333;
	align-self: flex-start;
}
.how_it_works_text {
	padding: 30px 0 20px 0;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
}
.how_it_works_input {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

.label-title span {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
}

@media (max-width: 1200px) {
	.how_it_works_block {
		width: 100%;
		padding: 100px 70px;
	}
	.how_it_works_slider {
		width: 100%;
	}
	.how_it_works_slider img {
		width: 100%;
		height: 323px;
	}
}

@media (max-width: 640px) {
	.how_it_works_block {
		padding: 100px 0 68px 0;
	}
	.how_it_works_slider img {
		width: 100%;
	}

	.how_it_works_input {
		padding-top: 40px;
	}
}

@media (max-width: 320px) {
	.how_it_works_block {
		padding: 40px 0 50px;
	}
	.how_it_works_title {
		font-size: 38px;
	}
	.how_it_works_btn {
		margin-top: 10px;
	}
	.how_it_works_text {
		padding: 20px 0;
	}
	.how_it_works_slider img {
		height: 323px;
		object-position: 0%;
		object-fit: cover;
	}
}

/* блок с иконками  */
.mission {
	background: #e5e5e5;
}

.mission_block {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}
.mission_block_item {
	flex: 0 1 32%;
	display: flex;
	flex-direction: column;
}
.mission_block_item_icons {
	align-self: center;
}
.mission_block_item_title {
	padding: 13px 0;
	align-self: center;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	color: #333333;
}
.mission_block_item_text {
	align-self: flex-start;
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
}
@media (max-width: 1200px) {
	.mission_block {
		display: flex;
		justify-content: space-between;
		padding: 95px 0 115px;
	}
}

@media (max-width: 640px) {
	.mission_block {
		flex-direction: column;
		width: 50%;
		padding: 100px 0 70px;
	}
	.mission_block_item {
		padding-bottom: 50px;
	}
}

@media (max-width: 320px) {
	.mission_block {
		width: 100%;
		padding: 50px 0 20px 0;
	}
	.mission_block_item {
		padding-bottom: 30px;
	}
}
/* блок слайдер */
.favorite {
	background: #f2f2f2;
}
.favorite_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	position: relative;
}
.favorite_block_title {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	color: #333333;
}
.favorite_block_slider {
	width: 100%;
	padding-top: 35px;
}
.slider_body {
	z-index: 1;
	display: flex;
	justify-content: space-between;
}
.slider_dots {
	background: transparent;
}
.slider_next {
	position: absolute;
	top: 46%;
	right: -55px;
	transform: translate(-50%, -50%);
}
.slider_prev {
	position: absolute;
	top: 46%;
	left: -35px;
	transform: translate(-50%, -50%);
}
.favorite_block_button {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	font-weight: 700;
}
.slider_img_img {
	position: relative;
}
.slider_img_img::before {
	content: '';
	width: 278px;
	height: 399px;
	background-color: #4f4f4f;
	position: absolute;
	top: 0;
	z-index: 100;
	opacity: 0;
}
.slider_img_img:hover::before {
	transition: 1s ease-in;
	opacity: 0.5;
}
.slider__effect > .slider_paragr {
	opacity: 0;
	padding: 5px 20px;
	font-size: 14px;
	bottom: -50px;
}
.slider__effect > .slider_btn_block {
	opacity: 0;
	font-size: 14px;
	padding: 0 20px;
	bottom: -20px;
}
.slider__effect p {
	font-size: 12px;
}

.slider_img_img:hover > .slider__effect > .slider_paragr {
	transition: 1s ease-in-out;
	bottom: 50px;
	z-index: 100;
	opacity: 1;
}
.slider_img_img:hover > .slider__effect > .slider_btn_block {
	bottom: 30px;
	z-index: 100;
	transition: 1s ease-in-out;
	opacity: 1;
}
.slider_dots:hover svg path,
.slider_prev:hover svg path {
	transition: 0.5s ease-in-out;
	fill: #49d6df;
}
@media (max-width: 1200px) {
	.favorite .slider_item {
		width: 210px;
		height: 301px;
	}
	.favorite .slider_item .slider_img_img img {
		width: 210px;
		height: 301px;
	}
	.slider_img_img::before {
		width: 210px;
		height: 301px;
	}
}

@media (max-width: 640px) {
	.favorite .slider_item {
		margin: 0 20px 0 0;
	}
}

@media (max-width: 320px) {
	.favorite_block {
		padding: 100px 0 50px;
	}
	.favorite_block_slider {
		width: 100%;
		padding-top: 20px;
	}
	.favorite_block_title {
		font-size: 36px;
	}
	.favorite_block_button {
		margin-top: 25px;
	}
}
/* блок с кругами */

.pay_and_feed {
	background: #e5e5e5;
}
.pay_and_feed_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
}
.pay_and_feed_block_title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #333333;
}
.pay_and_feed_block_text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #4f4f4f;
	padding: 30px 0;
}
.pay_and_feed_block_icons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px 0 30px;
}
.pay_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
	border-radius: 50%;
	width: 245px;
	height: 245px;
}
.pay_item_border {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #e5e5e5;
	border-radius: 50%;
	width: 240px;
	height: 240px;
}
.pay_icon {
	margin-bottom: 30px;
}
.pay_text {
	font-family: Roboto;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #4f4f4f;
	width: 55%;
}
.pay_and_feed_block_button {
	font-family: Roboto;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
@media (max-width: 1200px) {
	.pay_arrow img {
		width: 48px;
	}
	.pay_and_feed_block_icons {
		padding: 15px 0 28px;
	}
}
@media (max-width: 640px) {
	.pay_and_feed_block_icons {
		flex-direction: column;
	}
	.pay_and_feed_block_button {
		margin-top: 20px;
	}
	.pay_arrow img {
		transform: rotate(90deg);
		margin: 50px 0;
	}
	.pay_arrow {
		height: 100px;
	}
}

@media (max-width: 320px) {
	.pay_and_feed_block {
		padding: 50px 0;
	}
	.pay_and_feed_block_title {
		font-size: 36px;
	}
	.pay_and_feed_block_text {
		display: none;
	}
}

/* новый слойдер с фитбеком */
.testimonials {
	background: #f2f2f2;
}
.testimonials__block {
	width: 49%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 310px;
	background: #fefefe;
	box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
	border-radius: 5px;
}
.testimonials__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}
.testimonials__icon {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	margin-top: 43px;
	border: 1px solid #bdbdbd;
	position: relative;
}
.testimonials__icon img {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.testimonials__slider {
	padding: 62px 0 25px 0;
}
.slider_title {
	font-family: Roboto;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #333333;
	padding: 17px 0;
}
.slider_text {
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
	padding: 0 73px;
}

@media (max-width: 640px) {
	.testimonials__block {
		width: 100%;
	}
	.testimonials__block_one {
		display: none;
	}
	.testimonials__slider {
		padding: 50px 0 25px 0;
	}
	.testimonials__input {
		padding-top: 35px;
	}
}

@media (max-width: 320px) {
	.testimonials__input {
		padding-top: 25px;
	}
	.test {
		padding-top: 45px;
	}
	.testimonials__block {
		padding: 50px 0;
		height: 360px;
	}
	.testimonials__slider {
		padding: 25px 0 25px 0;
	}
	.testimonials__icon img {
		position: absolute;
		transform: translate(-50%, 0%);
		top: 0%;
		left: 50%;
	}
}
/* карта */

.map {
	background: #e3e3e3;
}
.map__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
}
.map_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #333333;
}
.map__map {
	padding-top: 60px;
	position: relative;
	width: 100%;
}
.map__map > img {
	width: 100%;
	height: 450px;
}
.svg__animals {
	height: 94px;
	width: 67px;
}
.map__animals_one {
	position: absolute;
	top: 23%;
	left: 10%;
	cursor: pointer;
}
.map-images {
	position: absolute;
	top: 35%;
	left: 48%;
	transform: translate(-50%, -50%);
}
.map__animals_two {
	position: absolute;
	top: 28%;
	left: 20.5%;
	cursor: pointer;
}
.map__animals_three {
	position: absolute;
	top: 43.5%;
	left: 47.5%;
	cursor: pointer;
}
.map__animals_four {
	position: absolute;
	top: 26%;
	right: 20%;
	cursor: pointer;
}
.map_animal_btn {
	margin-top: 30px;
}

.map__animals_one:hover svg path,
.map__animals_two:hover svg path,
.map__animals_three:hover svg path,
.map__animals_four:hover svg path {
	fill: #eb5757;
}
@media (max-width: 1200px) {
	.map__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 95px 0 102px;
	}
	.map__map > img {
		width: 100%;
		height: 434px;
	}
	.map__animals_one {
		top: 22%;
	}

	.map__animals_two {
		top: 23%;
		left: 19%;
	}

	.map__animals_three {
		top: 41.5%;
		left: 46.5%;
	}
}
@media (max-width: 640px) {
	.map__map {
		padding-top: 50px;
	}
	.map__map > img {
		width: 100%;
		height: 285px;
	}
	.map__block {
		padding: 100px 0 80px 0;
	}
	.map__animals_one {
		top: 18%;
	}
	.map__animals_two {
		top: 20%;
		left: 17%;
	}

	.map__animals_three {
		top: 34.5%;
		left: 44.5%;
	}
	.map__animals_four {
		top: 15%;
	}
}

@media (max-width: 320px) {
	.map__map {
		padding-top: 25px;
	}
	.map__map > img {
		width: 100%;
		height: 150px;
	}
	.map_animal_btn {
		margin-top: 20px;
	}
	.map_title {
		font-size: 36px;
	}
	.map__block {
		padding: 50px 0 60px 0;
	}
	.map__animals_one {
		top: 18%;
	}
	.svg__animals {
		width: 32px;
		height: 46px;
	}
	.map-images {
		width: 22px;
	}
	.map__animals_two {
		top: 20%;
		left: 17%;
	}

	.map__animals_three {
		top: 34.5%;
		left: 44.5%;
	}
	.map__animals_four {
		top: 15%;
	}
}
/* футер */
.footer {
	background-color: #333333;
}
.footer__form_block {
	padding-top: 13px;
}
.footer__logo {
	padding: 60px 0;
}
.footer__block {
	display: flex;
	flex-direction: column;
}
.footer__header {
	padding: 42px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer_btn {
	width: 275px;
	margin-top: -5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.link_footer {
	color: #fefefe;
	padding: 0 72px 0 0;
}
.block-two_header {
	padding-top: 60px;
	margin-left: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__form_label {
	border-bottom: 1px solid #bdbdbd;
	padding: 20px 0 10px 0;
}
.footer__label {
	background: transparent;
}
.che {
	display: none;
}
.label__che {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #bdbdbd;
	vertical-align: middle;
}
.che:checked + .label__che:before {
	content: 'x';
}
.label__che:before {
	content: ' ';
	color: #fff;
	display: inline-block;
	font: 5px;
	margin-right: 5px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	width: 13px;
	height: 13px;
	background: #333333;
	border: 1px solid #e3e3e3;
	border-image: initial;
	vertical-align: middle;
}
.footer__form_legend {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	color: #fefefe;
}
.footer__label_btn {
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fefefe;
}
.label_btn-title {
	padding-right: 20px;
}
.footer__form_label-btn {
	width: 30%;
	margin: 25px 0 0 auto;
}
.footer__form {
	display: flex;
	flex-direction: column;
	color: #e0e0e0;
}

.block-two {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	width: 50%;
	flex: 0 1 auto;
}
.footer__form_textarea {
	display: flex;
	flex-direction: column;
	border: 1px solid #bdbdbd;
	position: relative;
	margin: 27px 0;
}
.textarea-title {
	padding: 0 5px;
	background-color: #333333;
	position: absolute;
	top: -10px;
	left: 5px;
}
.first_ch_footer {
	padding-left: 0px;
}
.last_ch_footer {
	padding-right: 0px;
}
.footer__sotial {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}
.footer_sotial_links {
	display: flex;
	list-style: none;
}
.sotial-title {
	padding: 60px 0 35px 0;
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #fefefe;
}
.sotial-adres,
.sotial-email {
	padding-bottom: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fefefe;
}
.sotial-adres__adres,
.sotial-email__email {
	padding-bottom: 5px;
}
.sotial-email a {
	text-decoration: none;
	color: #fefefe;
}
.sotial-links li {
	padding-right: 15px;
}
.rsscool {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #bdbdbd;
	padding: 40px 0 70px 0;
}
.rsscool__p {
	padding-bottom: 5px;
}
.hr {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
}
@media (max-width: 1200px) {
	.footer_btn {
		position: absolute;
		bottom: 37%;
	}
	.block-two_header {
		padding-top: 80px;
	}
	.footer__logo {
		padding: 60px 0 65px;
	}
}
@media (max-width: 640px) {
	.footer__nav_menu {
		display: inline;
		flex-direction: column;
		position: absolute;
		top: 180px;
		left: 0;
	}
	.footer__form {
		margin-top: 77px;
	}
	.footer__nav_menu li {
		padding: 0px 0px 0px 0px;
	}
	.link_footer {
		font-size: 16px;
	}
	.footer__header {
		flex-direction: column;
	}
	.footer_btn {
		position: absolute;
		top: 9%;
		right: 0%;
	}
	.sotial-title {
		padding: 0px 0 35px 0;
	}
}
@media (max-width: 320px) {
	.footer__nav_menu {
		top: 130px;
	}
	.footer__nav_menu li {
		margin-bottom: 7px;
	}
	.block-two {
		flex-direction: column-reverse;
	}
	.footer__form {
		margin-top: 150px;
	}
	.footer__sotial {
		width: 120%;
		margin-left: 0%;
	}
	.footer__header {
		flex-direction: column;
	}
	.footer_btn {
		top: 79%;
		left: 5%;
	}
	.footer__logo {
		padding: 5px 0;
	}
	.footer__label {
		width: 100%;
	}
}
/* всплывающее окно */
.popap {
	position: absolute;
	width: 440px;
	height: 150px;
	background-color: transparent;
	display: flex;
	align-items: center;
	top: 50px;
	left: 20px;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
}
.map__animals_one:hover > .popap,
.map__animals_two:hover > .popap,
.map__animals_three:hover > .popap,
.map__animals_four:hover > .popap {
	opacity: 1;
	visibility: visible;
}

.popap__body {
	margin: 0 auto;
	box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
	border-radius: 8px;
	background: #fefefe;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.popap__content {
	padding: 44px;
	display: flex;
	align-items: center;
}

.popap__block {
	display: flex;
	flex-direction: column;
}
.popap__img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-right: 20px;
}
.popap__img img {
	width: 65px;
	height: 65px;
}
.popap__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	padding-bottom: 7px;
}

.popap__text p {
	padding-bottom: 5px;
}
.popap__text span {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	font-weight: 800;
	color: #333333;
}
@media (max-width: 640px) {
	.popap-three-four {
		position: absolute;
		width: 440px;
		height: 150px;
		background-color: transparent;
		display: flex;
		align-items: center;
		top: -150px;
		left: -230px;
		opacity: 0;
		visibility: hidden;
		z-index: 100;
	}
	.map__animals_three:hover > .popap-three-four,
	.map__animals_four:hover > .popap-three-four {
		opacity: 1;
		visibility: visible;
	}
}
@media (max-width: 320px) {
	.popap {
		width: 238px;
		height: 113px;
		top: 50px;
		left: -10px;
	}
	.popap-three-four {
		position: absolute;
		width: 238px;
		height: 113px;
		background-color: transparent;
		display: flex;
		align-items: center;
		top: -100px;
		left: -130px;
		opacity: 0;
		visibility: hidden;
		z-index: 100;
	}
	.map__animals_three:hover > .popap-three-four,
	.map__animals_four:hover > .popap-three-four {
		opacity: 1;
		visibility: visible;
	}
	.popap__content {
		padding: 10px;
		display: flex;
		align-items: center;
	}
}
